body{

  background-color: #EDEDED;

  padding: 50px 50px 0 0;
}
h1{

  color: #505050;
  letter-spacing: 6px;
  text-align: center;
  font-size: 50px;
  font-weight: 100;


}
h2,h4{
  color: #636363;
  letter-spacing: 6px;
  text-align: center;

  font-weight: 100;
}
p{
  font-family: Verdana, sans-serif;
  color: #838383;
  /* letter-spacing: 4px; */
  font-size: 12px;
  text-align: center;
  line-height: 1.5;
  font-weight: lighter;

}
#about{
  text-align: justify;
  line-height: 2.0;
  max-width: 70ch;
}
h4{ margin-top: 30px; margin-bottom: 5px;}
hr {
  width: 20ch;
  margin-bottom: 20px;
}
/* p.capitalize{
  text-transform: capitalize;
} */
h2{
  font-family: Arial, sans-serif;
  letter-spacing: 6px;
  text-align: center;

}
.content{

  width: 80%;
  margin: auto;
  display: grid;
  grid-gap: 50px;

  /* align-content: space-around;
  flex-direction: column; */
  justify-content: center;
  align-items: center;
}
 .artist_name{

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px 0px ;

  /* background-image: url("../img/henrik-donnestad-t2Sai-AqIpI-unsplash.jpg"); */

}
.nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.abstract_svg_wrap, .abstract_canvas_wrap{

  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  /* justify-content: flex-start; */
  align-items: center;
}
.canvas_img{height: 500px;}

.description_svg, .description_canvas{
  width: 500px;
}
.svg_img, .canvas_img{
  margin-bottom: 20px;
  padding:0;
  margin: auto;
  background-color: white ;
  box-shadow: 7px 7px #C1C1C1;
  border: 5px solid lightgrey;


}
/* .abstract_canvas_wrap{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

} */
.doc_wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;


}

#documentation_txt{
  text-align: left;
  line-height: 2;
  color: #505050;
  font-size: 16px;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  overflow: hidden;

  background-color: #DDDDDD;
  /* width: 362px; */
}

li {
  float: left;
}

li a {
  display: block;
  color: #505050;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #efefef;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-bottom: 50px;

}

i {
  border: solid grey;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 0;
}
i:hover{
  border-width: 0 3px 3px 0;
  padding: 12px;
}
